<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C0B418C1F1B410F006A0DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0B41A51F1B4110006A0DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C0B41B01F1B4110006A0DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
